.app {
  width: 740px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background);
  border: 1px solid #374151;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 3rem;

  @media (max-width: 620px) {
    height: 700px;
  }

  .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .securitys {
      display: none;
      gap: 1rem;

      svg {
        background-color: transparent;
        fill: var(--green);
      }

      p {
        font-size: 1.4rem;
      }

      @media (max-width: 620px) {
        display: flex;
      }
    }

    @media (max-width: 620px) {
      flex-direction: column;
      justify-content: space-between;
    }
  }

  button {
    max-width: 740px;
    height: 56px;
    width: 100%;

    background: var(--purple);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    opacity: 1;

    &:hover {
      opacity: 0.9;
    }

    @media (max-width: 620px) {
      max-width: 327px;
      align-self: center;
    }
  }
}

.form-group {
  max-width: 330px;
  min-height: 252px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .form-control {
    display: flex;
    flex-direction: column;

    label {
      font-size: 1.4rem;
      padding: 0.2rem 0;
    }

    input {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 12px;

      width: 100%;
      max-height: 4.8rem;
      background: #111827;

      border-radius: 4px;
      outline: none;

      border: 1px solid #374151;

      &:focus {
        border: 1px solid var(--purple);
      }
    }

    .input-error {
      outline: 1px solid rgb(255, 72, 72);
    }

    .error-message {
      color: rgb(255, 72, 72);
      font-size: 1.2rem;
      margin-top: 3px;
    }
  }

  .form-itens {
    display: flex;
    gap: 2rem;

    .date {
      flex: 2;
    }

    .password {
      flex: 1;

      label {
        display: flex;
        align-items: center;
        gap: 0.4rem;
      }

      svg {
        cursor: pointer;
      }
    }
  }

  @media (max-width: 620px) {
    margin: 3rem 0;
  }
}
